.table-area{
  width: 22.2%;
}
.table-status{
  width: 26.4%;
}
.table-date{
  width: 39%;
}

.table-heating-area{
  width: 13.6%;
}
.table-heating-status{
  width: 31.4%;
}
.table-heating-date{
  width: 44%;
}